.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  max-width: 1024px;
  margin: 0 auto;
}

.urlContainer{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  padding: 1rem 2rem;
  border: 1px solid white;
  z-index: 1;
  border-radius: 10px;
  text-align: center;
}

.header p {
  margin-top: -1.4rem;
  z-index: 2;
  background-color: rgb(15 23 42);
  padding: 0.6rem;
}

.urlForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.4rem 0;
}

.urlCardContainer{
  margin: 0 auto;
  max-width: 1024px;
  width:100%;
}

